<style>
  .help-form label {
    font-weight: 600;
  }
  .help-form .box {
    background: var(--color-lane);
    padding: 0.5em 1em;
  }
  .help-form textarea {
    min-width:100%;
  }
  .help-form input, .help-form textarea {
    background: var(--color-body);
    color: var(--color-body-text);
    margin-bottom:.75em;
  }
  .night .help-form input:focus, .night .help-form textarea:focus {
    background: var(--color-lane-subtler);
  }
  .help-form .button-submit {
    width: 100%;
    text-align: center;
    background: var(--color-pop);
    height: 3em;
    color: var(--color-light);
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-standard-y);
    transition: background .5s ease;
  }
  .help-form .button-submit:hover {
    background: var(--color-pop-h);
  }
  .help-form .button-submit.disabled, .help-form .button-submit.disabled:hover{
    cursor: not-allowed;
    background: var(--color-lane);
    color: var(--color-lane-subtler);
  }

  .help-form .impact-boxes .cell input {
    display: none;
  }
  .help-form .impact-boxes .cell{
    display:flex;
  }
  .help-form .impact-boxes .cell label {
    border: 1px solid var(--color-lane);
    padding: 1em .5em;
    text-align: center;
    margin: .5em 0;
    width: 100%;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.1;

  }
   .box-verified-info{
    overflow:hidden;
   }
  .help-form label i{
    font-size:2em;
    margin-bottom:.5em;
  }
  .help-form label .label2{
    font-weight: 400;
    color:var(--color-body-subtitle);
  }
  .help-form .impact-boxes .cell input:checked + label {
    background-color: var(--color-pop);
    color: var(--color-light);
    border-color: var(--color-pop-h);
  }
  .help-form .impact-boxes .cell input:checked + label .label2{
    color:var(--color-lane-subtle)
  }
  .help-form .impact-boxes .cell label:hover {
    background: var(--color-lane);
    color:var(--color-pop)
  }
  .input-box .content-label{
    font-size: 1rem;
    margin: 0;
    line-height:1;
  }
  .input-box .content{
    font-weight: 800;
    margin: 0;
  }
  .input-box .content2{
    font-size:.9em;
    font-weight:400;
    margin:0;
  }
  .box-verified-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-img-square {
    background: var(--color-user);
    width: 2em;
    height: 2em;
    font-size: 3em;
  }
  fieldset{
    padding: 1em;
    border: 1px dashed var(--color-lane);
    margin:1em 0;
    position: relative;
    transition: all .5s ease;
  }
  .add-student{
    text-align: center;
    width: 100%;
    padding: 1em;
    margin:1em auto;
    background:var(--color-lane);
    border-radius: 3px;
    box-shadow: var(--shadow-standard-y);
    transition:all .5s ease;
  }
  .add-student:hover{
    cursor:pointer;
    box-shadow: var(--shadow-standard-y-h);
    background: var(--color-bright-2);
  }
  legend {
    font-size: 1.25em;
    font-weight: 600;
  }
  fieldset:hover{
    background: var(--color-chrome);
  }
  #button-add-student{
    width: 80%;
    margin: 0 auto;
    display: block;
    background:var(--color-bright-2);
    transition: all .5s ease;
    margin-bottom:1em;
  }
  #button-add-student:hover{
    background:var(--color-lane-subtler);
  }
  .pasteExcel{
    width: 80%;
    margin: 0 auto;
    display: block;
    background:var(--color-pop);
    transition: all .5s ease;
    margin-bottom:1em;
  }
  .pasteExcel:hover{
    background:var(--color-lane-subtler);
  }
  .pasteExcel:focus,
  .pasteExcel:active{
    background:var(--color-pop-h);
  }
  textarea{
    resize: vertical;
  }
  .user-info{
    background: var(--color-lane);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
  }
  .user-info #full-name{
    font-weight:600;
    font-size:1.25em;
  }
  .user-info p{
    margin-bottom:.25em;
  }
  .user-info #verified{
    margin-bottom:.5em;
  }
  .toc a {
    padding: 1em;
    display: flex;
    margin: .5em 0;
    text-align: center;
    color: var(--color-body-text);
    align-items: center;
    transition:all .5s ease;
    background: transparent;
    border:1px dashed var(--color-lane);
  }
  .toc a:hover {
    background:var(--color-lane-subtle)
  }
  .toc a.active{
      background: var(--color-chrome);
      color: var(--color-body-pop);
      font-weight: 600;
      border:1px solid var(--color-chrome);
      box-shadow:var(--shadow-standard-y);
      border-left: 4px solid var(--color-pop);
      padding-left:1.25em;
  }
  .toc a.done{
      background: var(--color-lane);
      color: var(--color-body-text);
      font-weight: 600;
      border:1px solid var(--color-lane);
  }
  .toc-item.sub{
    margin-left:2em;
    position:relative;
  }
  .toc-item.sub:before{
    content: '';
    border-left: 1px dashed var(--color-lane);
    border-bottom: 1px dashed var(--color-lane);
    position: absolute;
    left: -1em;
    top: -.5em;
    width: 1em;
    height: calc(50% + .5em);
    transition:all .5s ease;
  }
  .toc-item.sub:hover:before{
    border-color:var(--color-lane-subtle)
  }
  .toc-item.sub.last:before{
    content: '';
    top: calc(-50% - .5em);
    height: calc(100% + .5em);
  }
  .help-form {
    background:var(--color-chrome);
    color:var(--color-body-text);
    padding:1em 2em;
    margin-bottom:1em;
    border-radius:3px;
    box-shadow: var(--shadow-standard-y);
  }

  .form-nav{
    display:flex;
    justify-content: space-between;
  }
  .form-nav-button{
    background: var(--color-pop);
    color: var(--color-light);
    padding: .5em 1em;
    margin-top: .9em;
    transition:all .5s ease;
  }
  .form-nav-button:hover{
    background:var(--color-pop-h)
  }
  .form-nav-button.disabled{
    visibility: hidden;
    user-select: none;

  }
  .carousel-cell a{
    color:var(--color-pop);
    text-decoration:underline;
  }
  .carousel-cell a:hover{
    color:var(--color-pop-h)
  }
  .form-label{
    font-weight:600;
  }
  .form-label-help{
    font-size:.875rem;
    margin-bottom:0;
    font-style: italic;
  }
  .box-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:1em 0;
  }
  .box-links a{
    padding: 1em;
    text-decoration: none;
    transition: all .5s ease;
    margin: 1em;
    text-align: center;
    border: 2px solid var(--color-pop);
    background: var(--color-light);
    color: var(--color-pop);
    border-radius: 3px;
  }
  .box-links a:hover{
    background-color: var(--color-pop);
    color:var(--color-light);
  }
  .tos-content h1 {
      font-family: 'Roboto', Sans-Serif;
      font-weight: 800;
      font-Size: 2.5em;
      text-transform: capitalize;
      line-height: 1.2;
      padding-bottom: .25em;
      color:var(--color-pop);
    }
    .tos-head{
      background-color: var(--color-pop);
      height:300px;
    }
    .tos-content{
      background: var(--color-body);
      margin-top: -250px;
      padding: 2em;
      box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    }
    .tos-section p{
      background: var(--color-chrome);
      padding: 2em;
      margin: 1em 0;
      box-shadow: 0px 0px 0px rgba(0,0,0,.1);
      border-radius:3px;
      transition:all 1s ease;
    }
    .tos-section p:hover,.tos-section p:focus{
      box-shadow: 0px 0px 8px rgba(0,0,0,.1);
    }
    .tos-section{
      margin-bottom: 1em;
    }
    .site-wrapper{
      background:var(--color-lane)
    }
    .tos-section h2{
      font-family: 'Roboto', Sans-Serif;
    font-weight: 600;
    font-Size: 1.5em;
    text-transform: capitalize;
    line-height: 1;
    color: var(--color-body-text);
    }
    .tos-lead{
      font-weight: 600;
      position: relative;
      padding: 2em 0;
    }
    .tos-lead:before{
      height: 2px;
      content: '';
      background: var(--color-pop);
      position: absolute;
      width: 10%;
      top:0;
    }
    .signed{
      font-family: 'Homemade Apple', cursive;
      font-size: 1.8em;
      text-decoration: underline;
      text-align: center;
      margin: 0;
    }
    .dated{
      text-align: center;
      font-weight: 600;
      font-size: .875em;
    }
    .name-drop{
      color:var(--color-pop);
      transition: all .5s ease;
    }
    .name-drop:hover{
      color:var(--color-pop-h)
    }

    #nameSetter:focus{
      outline:none;
    }
    #button-submit:disabled{
      background-color:var(--color-lane);
      cursor:not-allowed;
      box-shadow:none;
      color:var(--color-body-subtitle);
      outline:none;
    }
    #nameSetter #setName, #button-submit{
      width: 100%;
      text-align: center;
      background: var(--color-pop);
      height: 3em;
      color: var(--color-light);
      cursor: pointer;
      outline: none;
      box-shadow: var(--shadow-standard-y);
      transition: background .5s ease;
    }
    #nameSetter #setName:hover{
      background: var(--color-pop-h);
    }
    #nameSetter input{
      background: var(--color-body);
      color: var(--color-body-text);
    }
    #nameSetter label{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: .875em;
    }
    #nameSetter p{
      font-weight: 600;
      position: relative;
      padding: .5em 0;
    }
    #nameSetter h2{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: 1.5em;
      text-transform: capitalize;
      line-height: 1;
      color: var(--color-body-text);
    }
    #readySign{
        background: var(--color-chrome);
        padding: 1em;
        border-radius: 3px;
        border: 1px dashed var(--color-pop);
      }
    .recaptcha{
      font-size: 0.75rem;
      margin-top: 1em;
      color: var(--color-body-subtitle);
      text-align: right;
    }
    .agreer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em 0 .875em 0;
    }
    .agreer label{
      font-weight: 800;
    }
    #agree,#GuardianAgree,#employeeAccess{
      width:2em;
      height:2em;
      margin:0;
    }
    #agree:disabled + label{
      color: var(--color-body-subtitle);
    }
    #sigBlock{
        display:none;
    }
    #sigBlock label{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: .875em;
    }
    .name-error{
      color:var(--color-bright-4);
      text-align: center;
      display:none;
    }
    .error-text{
      color:var(--color-bright-4);
      text-align: center;
      display:none;
    }
    .reveal{
      border: none;
      border-radius: 3px;
    }
    .sublabel{
      font-size: .875em;
      font-style: italic;
      color: var(--color-body-subtitle);
    }

    fieldset{
      border-top: 1px solid var(--color-lane);
      margin: 1em 0;
    }
    legend{
      font-size: 1.25em;
      font-weight: 600;
      text-align: center;
      color: var(--color-pop);
    }
    .impact-boxes{
      margin-bottom:1em;
    }
    .form-label-help{
      color:var(--color-body-subtitle);
      margin-bottom: .5em;
      font-weight: 400;
      font-size: .875rem;
      line-height: 1.25;
    }
    @media print, screen and (min-width: 64em){
      .tos-terms-column{
        max-height: 65vh;
        overflow: auto;
        margin-top: -15em;
        position: relative;
      }
      .tos-terms-column::after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 20px;
        transition: all .5s ease;
        animation: shadow 3s ease-in-out infinite;
      }
      .tos-terms-column.scrolled::after {
        animation:none;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,.3);
      }


    }
    @keyframes shadow {
    0%   { box-shadow: inset 0 -8px 15px -8px rgba(0,0,0,.2);}
    50%  { box-shadow: inset 0 -8px 10px -8px rgba(0,0,0,.3);}
    100% { box-shadow: inset 0 -8px 15px -8px rgba(0,0,0,.2);}
  }
    @keyframes barwait {
      0%   {opacity:.1;transform:translateY(0)}
      50%  {opacity:.3;transform:translateY(20px)}
      100% {opacity:.1;transform:translateY(0)}
    }
</style>
<%
const toasts = [
  {
    id: 'toast-save-success',
    type: 'success',
    title: 'Success',
    message: 'Your Software Request has been submitted.',
    show: false
  },
  {
    id: 'toast-save-error',
    type: 'error',
    title: 'Whoops',
    message: 'Something went wrong trying to submit your Software Request',
    show: false
  }
]; 
%>
<%- include('../../../partials/components/toaster.ejs', { toasts }); %>
<div class="grid-container fluid">
  <div class="grid-container grid-x grid-margin-x align-center" style="margin:auto;">
    <div class='cell small-12 medium-4 large-3 hide-for-small-only'>
      <% if (locals.user && user.id && locals.userAttributes) { %>
        <div class="user-info">
          <div class="profile-img-square" style="background-image:url('/img/ico-intro.svg');"></div>
          <p id="verified"><i class="far fa-badge-check color-bright-2"></i> Verified User</p>
          <p id="full-name"><%= userAttributes.givenname + ' ' + userAttributes.surname %></p>
          <p id="wpi-id"><%= userAttributes['user.employeeid'] %></p>
          <p id="wpi-email"><i class="fas fa-envelope-square"></i> <%= userAttributes.emailaddress %></p>
        </div>
      <% } %>

    </div>

    <div class='cell  small-12 medium-10 large-9'>
      <h1>Academic Software Request</h1>
      <p style="font-weight:600">This form is for use by Faculty and Lab managers to request installation of Software on systems to support course instruction.</p>
      
      <div class="help-form" id="student-flag">
        <fieldset>
          <legend>SoftwareRequest</legend>

          <label for="course">Which Course is this for?</label>
          <p class="form-label-help">Provide all relevant info including Course Reference ID, course number, title, and section(s) if applicable</p>
          <input id="course" name="course" type="text">

          <label for="software">Which Software do you need installed for this course?</label>
          <p class="form-label-help">(one per line) Provide the software title(s), version number, manufacturer/publisher, and notate if this is a newer version than previously used</p>
          <textarea id="software" name="software" rows="4"></textarea>

          <label for="location">Where do you need this software installed?</label>
          <p class="form-label-help">(one per line) Let us know if this is a physical or virtual locatrion and provide building, room number, or other specifics such as VDI / server name etc</p>
          <textarea id="location" name="location" rows="4"></textarea>

          <label for="note">Additional Notes</label>
          <p class="form-label-help">Let us know anything else about this request and how we can help</p>
          <textarea id="note" name="note" rows="4"></textarea>
          
          

          <button id="button-submit-help-form" class="button-submit">Submit Software Request</button>
          <p style="font-size: 0.75rem;margin-top: 1em;color: var(--color-body-subtitle);">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
        

        </fieldset>
      </div>

    </div>
  </div>
</div>