[
  {
    "Group": "Group 1: Advancement, OGC, and Talent & Inclusion",
    "Name": "Katie Bilotta",
    "Contact Information": "kbilotta@wpi.edu",
    "Tenure (in Years)": 2.709589041,
    "Business Title": "Director, Community Relations",
    "Division": "Advancement Division",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to be an active-listener of my peers across campus regarding matters big or small  needing improvement at WPI. We can accomplish this with social gatherings, office hours, town hall meetings and anonymous surveys to gauge what issues to prioritize and tackle. It would be rewarding to advise on creative solutions to make the WPI community a healthier & more fulfilling place to work for all.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I think the focus for WPI's Staff Council in the first term would be to assess staff needs and concerns in order to evaluate the topics and issues to be prioritized in the coming year.",
    "What would you like people to know about you as a candidate for Staff Council?": "It would be an honor to represent the hard working and smart staff at WPI. In my role at WPI as Director of Community Relations, I am very outward facing toward what I sometimes say 'the other side of the wall'. However, in my short tenure here at WPI, I've had the privilege of working with colleagues from different divisions, departments & offices throughout campus to accomplish unique projects.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "My favorite movie is \"On Golden Pond\" (1981) with Katharine Hepburn, Jane Fonda and Henry Fonda. I own it in both VHS and DVD versions. I'm happy to lend the movie out in either version to anybody to borrow.",
    "Picture File Name": "Katie Bilotta"
  },
  {
    "Group": "Group 1: Advancement, OGC, and Talent & Inclusion",
    "Name": "Matthew Thaler",
    "Contact Information": "mjthaler@wpi.edu",
    "Tenure (in Years)": 4.224657534,
    "Business Title": "Deputy General Counsel",
    "Division": "Office of the General Counsel",
    "What do you hope to achieve as a member of the Staff Council?": "I will advocate for staff-related issues and concerns by listening, asking questions and gathering facts. For nearly five years, in my capacity as Deputy General Counsel, I have communicated and collaborated with staff members with diverse perspectives on a range of critical issues. I am well positioned to be a member of the Staff Council and to continue cultivating staff relationships across WPI.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "The first task will be drafting the council's goals, guiding principles and responsibilities.  The group must then educate the staff about the Staff Council and its mission and begin soliciting feedback on important staff-related issues including:  WPI policies and procedures; diversity, equity and inclusion; collegial relationships; and opportunities for professional development.",
    "What would you like people to know about you as a candidate for Staff Council?": "I will bring an inquisitive approach to understanding challenges and a solutions-oriented attitude to overcoming problems. From my work as an attorney to my work on my children's school board, I have years of experience facilitating hard conversations, bringing people together with differing viewpoints, and advocating for change.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Outside of work, I can be found playing with my three energetic boys. Together, we love to read Harry Potter, build enormous Lego sets and construct living room forts out of sofa pillows. My favorite hobby is working in our backyard vegetable garden. This year, with the help of my children, I planted tomatoes, blackberries, peppers and zucchini.",
    "Picture File Name": "Matthew Thaler"
  },
  {
    "Group": "Group 1: Advancement, OGC, and Talent & Inclusion",
    "Name": "Roxanne Gardner",
    "Contact Information": "rcgardner@wpi.edu",
    "Tenure (in Years)": 5.024657534,
    "Business Title": "Director, Talent Acquisition",
    "Division": "Talent & Inclusion Division",
    "What do you hope to achieve as a member of the Staff Council?": "Becoming a member would allow me to be more accessible for staff community as resource and help with questions and concerns serving in my capacity in Talent Acquisition. I am looking to build positive and stronger relationships. I also hope this will allow a mechanism to learn from others to create better process improvements based on these connections and relationships.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Better communication across all levels of staff; support/promote for staff recognition efforts so everyone feels valued and appreciated, influence policies and acting as an advocate and resource for staff to bring ideas and opinions to the table.",
    "What would you like people to know about you as a candidate for Staff Council?": "I enjoy collaborating and exchanging ideas with others.  I am project-oriented and could leverage my role in Talent & Inclusion to help identify ways on how to best improve processes or employee experiences.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Spending time with family, going to the beach, kayaking, biking and hiking as well as enjoying wine and sushi. I recently have been going to kickboxing classes, which is now one of my favorite activities.  I'm still stuck in the 80s music genre.",
    "Picture File Name": "Roxanne Gardner"
  },
  {
    "Group": "Group 1: Advancement, OGC, and Talent & Inclusion",
    "Name": "Theona K Scola",
    "Contact Information": "tkscola@wpi.edu",
    "Tenure (in Years)": 9.61369863,
    "Business Title": "Director of Strategic Donor Outreach",
    "Division": "Advancement Division",
    "What do you hope to achieve as a member of the Staff Council?": "As a member of the Staff Council, I aim to represent the collective voice of our staff members. In the initial year, Staff Council members will be tasked with the important role of developing and establishing guidelines, operational structure and bylaws. This important framework will help support the efforts and initiatives that directly impact the staff experience for years following.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Initially, the focus should be on establishing guidelines, structure and bylaws to help position the group to be able to best support the staff body. The overall mission is to improve the staff experience but this goal is multifaceted; efforts should include recognition/celebration, gaining staff perspective on university policies, providing a platform for concerns to be voiced & fostering change.",
    "What would you like people to know about you as a candidate for Staff Council?": "I enjoy being part of cross-divisional working groups and working collaboratively with new colleagues. Serving on the Staff Council would allow me this opportunity while driving positive change to improve the staff experience at WPI. I'm approaching my 10th year working here and I truly value the sense of community that WPI provides.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "My favorite quote is \"Change is good\" because while change can be uncomfortable, it allows us to experience new things, space to grow and opportunity that might not otherwise have been explored.",
    "Picture File Name": "Theona K Scola"
  },
  {
    "Group": "Group 2: Finance & Operations (Budget & Operations, Campus Safety, Controller's Office, and Campus Planning & Facilities Management)",
    "Name": "Amy L'Heureux",
    "Contact Information": "ajlheureux@wpi.edu",
    "Tenure (in Years)": 6.37260274,
    "Business Title": "Events Planner 1",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to be a voice for our staff, and put forth great ideas that can benefit most people, and improve morale and sense of community around campus.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Addressing concerns and making sure that no one group feels more or less prioritized than the others.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have been a member of the WPI community for almost a decade (including time as a contractor), and have family members that have been in the WPI community for even longer. I've made many connections across campus in my time here, and my day to day job helps me make even more connections. I hear a lot of the concerns and ideas from many different departments and groups, and want to help them be heard.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I am an avid plant person. I also enjoy embroidery, archery, and reading in hammocks. My favorite number is 42, and I always know where my towel is.",
    "Picture File Name": "Amy LHeureux"
  },
  {
    "Group": "Group 2: Finance & Operations (Budget & Operations, Campus Safety, Controller's Office, and Campus Planning & Facilities Management)",
    "Name": "Lauren Martunas",
    "Contact Information": "lmartunas@wpi.edu",
    "Tenure (in Years)": 9.978082192,
    "Business Title": "Assistant Director - Financial Planning and Analysis",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to be a trusted point of contact as a liaison between Staff and Senior Leadership. I enjoy working with members across the University to listen to their questions and concerns and help problem solve where I can.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I believe the Staff Council should focus on supporting the best work/life balance for all Staff and ensuring that all employees are treated equitably.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have enjoyed my career at WPI over the last ten years and hope to continue adding value to the University in my new role in Financial Planning & Analysis. My professional goal has always been to help members of our community be successful and I hope to provide further impact as a member of the Staff Council.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "You can find me behind the DM screen running a Dungeons & Dragons adventure, or relaxing on the couch playing video games on my Switch.",
    "Picture File Name": "Lauren Martunas"
  },
  {
    "Group": "Group 2: Finance & Operations (Budget & Operations, Campus Safety, Controller's Office, and Campus Planning & Facilities Management)",
    "Name": "Rose Galeotalanza",
    "Contact Information": "galeotalanza@wpi.edu",
    "Tenure (in Years)": 11.37808219,
    "Business Title": "Associate Bursar",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "To make careful review and considerate evaluation of topics as presented to the council in an effort to come to decisions that make both fiscal and talent sense as well as will help further the \"forward\" plan of WPI, keeping in mind inclusion and fairness to all members of the community.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "We should focus not only on items of concern for the staff but also look for ways to enhance staff member's experiences at the school, and around the Worcester area.  Communication with the staff I feel would go a long way and I hope this council will work on regular communications so that the staff feels involved.",
    "What would you like people to know about you as a candidate for Staff Council?": "I am a responsive and caring individual who wants to share with others all my good experiences at WPI and my rare hicups.  I am a hard worker and love to collarborate and work with teams which I feel is important for this council.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I love cooking, mostly Italian food, yes I am Italian.  I love period movies, anything history.  I love the oldies, but Adele and Taylor Swift too.  \n\nFun fact, I used to own travel agencies and once took a group of 320 college girls from Fisher college in Boston to Greece and only 1 passport went missing. :)",
    "Picture File Name": "Rose Galeotalanza"
  },
  {
    "Group": "Group 2: Finance & Operations (Budget & Operations, Campus Safety, Controller's Office, and Campus Planning & Facilities Management)",
    "Name": "William Battelle",
    "Contact Information": "battelle@wpi.edu",
    "Tenure (in Years)": 26.0,
    "Business Title": "Events Director",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "<p>Goals:</p><ul><li>create a safe environment where staff can develop ideas through a consistent vehicle and voice that will not fall on deaf ears...</li><li>work inclusively with a diverse council where innovative concepts can take flight and flourish along with university initiatives...</li><li>be a trusted source where people feel comfortable working and talking with me for straight answers...</li></ul>",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "<ul><li>listen to what people have to say...</li><li>collaborate with the councilmembers on achieving success with creative ideas...</li><li>being approachable...</li><li>work hard toward making staff want to be part of an amazing campus and one they want to be a part of for years to come...</li></ul>",
    "What would you like people to know about you as a candidate for Staff Council?": "<ul><li>sincere</li><li>not afraid to speak up for what's right</li><li>trustworthy</li><li>willing to do what it takes to be successful for them</li><li>create a council that will be a sustainable force for many years</li><li>I possess a tremendous amount of campus knowledge and experience</li><li>able to work with anyone for a common good</li></ul>",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "<p><strong>Movies</strong>: It's A Wonderful Life...Godfather trilogy</p><p><strong>Hobby</strong>: Smoking cigars and rooting for the BostonBruins</p><p><strong>Song</strong>: Over the Hills and Far Away - Led Zeppelin</p><p><strong>Fun</strong> Fact: Wine enthusiast</p><p><strong>Quote</strong>: \"Leave the gun - take the cannoli's.</p>",
    "Picture File Name": "William Battelle"
  },
  {
    "Group": "Group 3: Chief of Staff, Marketing Communications, and Undergraduate Enrollment",
    "Name": "Eliza Laurent",
    "Contact Information": "elaurent@wpi.edu",
    "Tenure (in Years)": 13.5260274,
    "Business Title": "Director of Enrollment Systems and Operations",
    "Division": "Undergraduate Enrollment",
    "What do you hope to achieve as a member of the Staff Council?": "The staff at WPI are often the ones who are behind the scene, doing the work that is not often publicly recognized but it critical to keeping the \"train running on time\". My hope is to help be a voice for those who are behind the scenes, be a resource for staff to turn to with questions, and develop a recognition program to promote and encourage staff retention.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I feel the greatest area of opportunity for the Staff Council is the creation of a staff recognition program. This program would help with morale by recognizing those that are often felt unseen and highlight strong performance. The SPOT awards were done a number of years ago but this should be something where you provide \"points\" to employees and the employee can redeem them for specific items.",
    "What would you like people to know about you as a candidate for Staff Council?": "Being a member of the WPI community for the past 13 years has been incredibly rewarding. I have witnessed the university grow in shape and size but I have also seen very talented people walk away. It is important that we put some measures in place to help prevent this from continuing to happen. Having a staff council will help staff have a seat at table and feel more appreciated moving forward.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "When I am not with my husband and two boys, I am out on the golf course or stitching needlepoint. I love being outside at any time of year but watching re-runs of Friends is something that you can find me doing when inside :).",
    "Picture File Name": "Eliza Laurent"
  },
  {
    "Group": "Group 3: Chief of Staff, Marketing Communications, and Undergraduate Enrollment",
    "Name": "Jennifer Cluett",
    "Contact Information": "Jcluett@wpi.edu",
    "Tenure (in Years)": 24.0739726,
    "Business Title": "Executive Director of Admissions",
    "Division": "Undergraduate Enrollment",
    "What do you hope to achieve as a member of the Staff Council?": "I have been a staff member for 24 years and am now the parent of a WPI student. I love this community and hope to collaborate with others to plan programs and events to celebrate our community and find opportunities to come together. This is especially important after the disruption of COVID and the collective concerns we have for the mental health of our students and colleagues.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Staff and faculty have very different experiences as members of the same community. I want to elevate staff perspectives and voices. Work life balance, preventing burnout, and developing people and teams are important to me.",
    "What would you like people to know about you as a candidate for Staff Council?": "I genuinely care about the WPI community and enjoy working here. The community - the people - is a large reason as to why I have stayed after more than two decades. The collective power of a staff voice is something that excites me.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I love jigsaw puzzles, all things Disney and The Office. I drink way too much Diet Coke and have a the-glass-is-half-full mindset.",
    "Picture File Name": "Jennifer A. Cluett"
  },
  {
    "Group": "Group 3: Chief of Staff, Marketing Communications, and Undergraduate Enrollment",
    "Name": "Jennifer Parissi-Forti",
    "Contact Information": "japarissiforti@wpi.edu",
    "Tenure (in Years)": 5.75890411,
    "Business Title": "Presidential Events Manager",
    "Division": "Chief of Staff",
    "What do you hope to achieve as a member of the Staff Council?": "As a member of the Staff Council I hope to gain a better understanding of how the campus views staff and what the staff needs from campus.  I'd like to provide a voice for those who feel their roles aren't valued.  I hope to provide networking experiences to build a better, unified community.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "The Staff Council should focus on highlighting staff roles across the campus to provide insight as to what each community member brings to WPI - both professionally and outside of work.  What makes their role integral?  What happens when that role stops \"functioning\"?  What is the ripple effect?  What other knowledge does this person have that can benefit our campus and community?",
    "What would you like people to know about you as a candidate for Staff Council?": "As candidate for Staff Council, I'll bring over 20 years of higher education experience and service background.  Throughout my career one value has always guided me - treat everyone as a VIP, no matter their role or title within a company.  If staff is supported, management, faculty, and more importantly, our students will thrive.  Our WPI community has so many VIPs and they all deserve to shine.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Hobby:  Baking crazy cakes for my nieces and nephews\nMovie: The Sound of Music\nSong: September Morn- Neil Diamond\nFun Fact:  I worked for Walt Disney Entertainment\nQuote: \"Hope is a good thing, maybe the best of things, and no good thing ever dies.\" - Shawshank",
    "Picture File Name": "Jennifer Parissi-Forti"
  },
  {
    "Group": "Group 3: Chief of Staff, Marketing Communications, and Undergraduate Enrollment",
    "Name": "Julia Quinn-Szcesuil",
    "Contact Information": "jaquinnszcesuil@wpi.edu",
    "Tenure (in Years)": 5.298630137,
    "Business Title": "Associate Director, Marketing Content Strategy & Publications",
    "Division": "Marketing Communications",
    "What do you hope to achieve as a member of the Staff Council?": "The inaugural Staff Council is in an exciting position to work with and for staff to determine what they need and want. Most immediately I'd like to work on building a plan for effective Staff Council operations, fostering open communications, and understanding all the ideas and concerns so change can happen. The SC needs to listen carefully so it can respond correctly.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I think staff are concerned about tangibles like benefits and salary, but also about recognition, representation, and morale'they need an effective system to bring their concerns to the table so all staff voices are heard. The Staff Council must foster collaborations and build relationships across the university so that any work for staff representation and advocacy results in change.",
    "What would you like people to know about you as a candidate for Staff Council?": "I served a three-year term on the Fringe Benefits Committee (AY 18-21) and am one of the MarCom partners with Talent & Inclusion. I'm serving on the Inclusive Culture Team of Lead With Purpose and am serving on that team's Staff Council subgroup that worked to launch the Staff Council. I'm especially interested in diversity, inclusion, and equity issues'also in employee advocacy and collaboration.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Be kind, for everyone you meet is fighting a hard battle you know nothing about.",
    "Picture File Name": "Julia Quinn-Szcesuil"
  },
  {
    "Group": "Group 4: Finance & Operations (Information Technology)",
    "Name": "Caitlin Keller",
    "Contact Information": "cakeller@wpi.edu",
    "Tenure (in Years)": 5.969863014,
    "Business Title": "Senior Instructional Designer",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "I want to amplify the voices of staff to ensure that they are being supported, compensated, and treated equitably compared to other entities on campus and in higher ed overall.\nBuild stronger community between staff across campus, as well as between staff and other groups.\nFurther existing initiatives (SIE, MHIT, Strategic Plan, etc.) and propose new ones to better support and elevate staff.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Ensure fair & equitable compensation, benefits, and work environment through a comprehensive evaluation & action steps.\nAdvocate for more resources (positions, time, money, mentorship) to allow for better work/life balance & internal career growth for staff.\nProvide executive transparency & accountable representation for staff.\nExplore ways to integrate staff into WPI community.",
    "What would you like people to know about you as a candidate for Staff Council?": "Since joining WPI 6 years ago, I have worked hard not only at my job, but at integrating myself meaningfully into the WPI community. I have been an Insight Advisor for 4 years, have served on the Campus Hearing Board for 3 years, took part in a Strategic Plan working group in AY21-22, am serving on a MHIT subcommittee for AY22-23, and volunteered as a SophEx advisor in AY21-22.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I've read over 600 books in the past 5 years (and I'm always looking for more recommendations to add to my TBR list!)\n\nI also love downhill skiing, hiking, traveling, and attempting to propagate houseplants",
    "Picture File Name": "Caitlin Keller"
  },
  {
    "Group": "Group 4: Finance & Operations (Information Technology)",
    "Name": "Chris Chagnon",
    "Contact Information": "cjchagnon@wpi.edu",
    "Tenure (in Years)": 9.038356164,
    "Business Title": "ITSM Architect",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "As a member of Staff Council I want to continue advocating for WPI employee voices, and to make sure that I can assist in keeping WPI an amazing place to work. I want to be able to listen to ideas, problems, or feedback from other areas of campus and possibly help in designing, proposing, or even implementing solutions to help.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "A Primary area for the staff council to listen to would be in staff equity. Not just equity in voice, but also making sure that new policies, changes to policies, or even 'good things' and benefits to staff end up being able to be leveraged by the staff. I want people to hear about something new and say \"I'm excited by this\" and not \"I wish this was something I could use\".",
    "What would you like people to know about you as a candidate for Staff Council?": "I have worked at WPI for almost a decade and have a unique passion for this University. I care about the community we have here at WPI and always want to work to make things better here. My representation for WPI has never been solely from the perspective of an IT employee, but as an advocate for all people and all voices big and small.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "'Unless someone like you cares a whole awful lot. Nothing is going to get better. It's not.'",
    "Picture File Name": "Chris Chagnon"
  },
  {
    "Group": "Group 4: Finance & Operations (Information Technology)",
    "Name": "Craig Renaud",
    "Contact Information": "cdrenaud@wpi.edu",
    "Tenure (in Years)": 4.953424658,
    "Business Title": "Director of Systems Operations",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "I feel very strongly that the staff members of the WPI community are passionate and have a great interest in decisions and opportunities that impact our culture and quality of life here at WPI.\n\nI personally initiate and foster discussions within my team on such topics and as such I have a good understanding of how they feel and what desires they have. I would hope to represent those voices here.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Quality of life issues, more specifically work life balance, and just generally an increased sense that WPI hears and listens to its staff community and the concerns they have.\n\nAcknowledge and address issues as they come up, clearly communicate decisions from a place of understanding and compassion.",
    "What would you like people to know about you as a candidate for Staff Council?": "I see my co-workers as family, we spend a lot of time together and I genuinely care about them. I have always believed you can only make things better if you take an active part in the process and since not everyone is willing to do so, this gives some of us the chance to have those unheard voices be heard.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Woodworking, DIY, just learned welding, hanging out with my Dog :) Love the Epic movies, and anything with a good villian.",
    "Picture File Name": "Craig Renaud"
  },
  {
    "Group": "Group 4: Finance & Operations (Information Technology)",
    "Name": "Kevin Wheeler",
    "Contact Information": "kwheeler@wpi.edu",
    "Tenure (in Years)": 8.021917808,
    "Business Title": "Director of Support Services",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to be able to be a voice for people that may otherwise either not be heard or may be afraid to bring things forward themselves. Ultimately, I want to help shape the future of what it means to work at WPI, and help us become a place where people want to come by our reputation for treating people equally and well!",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Find ways to allow people to feel that they can bring ideas and issues forward without fear. In my 8 years here, I have consistently heard from people that they are afraid to bring an issue forward, because they think they may lose their job. I am not sure where that fear comes from, but developing a mechanism to allow for feedback, possibly anonymously, could be a great place to start.",
    "What would you like people to know about you as a candidate for Staff Council?": "I believe that every member of our community is important to the overall mission of WPI. None of what we do here would be possible without each of us doing our part. I am a person who cares about making things better for everyone, and will do everything I can to help advance new ideas forward.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I have 2 favorite hobbies - Sports card collecting and video games. For a fun fact, I sing in an adult choir called Rock Voices.",
    "Picture File Name": "Kevin Wheeler"
  },
  {
    "Group": "Group 4: Finance & Operations (Information Technology)",
    "Name": "Lisa Atwell",
    "Contact Information": "latwell@wpi.edu",
    "Tenure (in Years)": 11.49041096,
    "Business Title": "Office Coordinator",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "My primary goal is to ensure that the goals of the Staff Council are inclusive at the foundational level.  I would love the opportunity to help create a strong framework that promotes cultural responsiveness and inclusivity.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "The most important thing we can do is to give every member of our community a voice.  The Staff Council needs to be the place where everyone is truly heard and trusted to take action based on those needs because if something is important to one person, it is probably important to several who are not willing to come forward.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have been at WPI for over a decade.  I have been a staff member, a parent of a student and now a graduate student myself. I love this school which means I want the very best for the students, the faculty and especially the underserved staff.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "My favorite quote has many sources attributed to having first said it from Confucius to Buckaroo Banzai.  \"No matter where you go, there you are\"  It's a charge for each of us to do good in the space we are in at that moment.",
    "Picture File Name": "Lisa Atwell"
  },
  {
    "Group": "Group 4: Finance & Operations (Information Technology)",
    "Name": "Sharon Robsky",
    "Contact Information": "srobsky@wpi.edu",
    "Tenure (in Years)": 4.032876712,
    "Business Title": "Technical Writer / Trainer",
    "Division": "Finance & Operations Division",
    "What do you hope to achieve as a member of the Staff Council?": "I want to be on the Staff Council to represent caregivers and make sure caregiver friendly policies are codified and not left up to the whims of a person's supervisor. I would also like to be involved in creating an employee resource for caregivers in Worcester County. Our EAP does give caregiving advice, but it's not specific to the Worcester area.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "The Staff Council should focus on a better work/life balance for staff. The Council should collaborate with Talent to ensure that each department has sufficient staffing and the people in those departments are cross-trained in each other's jobs so staff can use their vacation and sick time without worry.",
    "What would you like people to know about you as a candidate for Staff Council?": "I've been working in the IT department's Change and Communications team for 4 years. I'm also in the Sandwich Generation. This means in addition to working full time, I'm raising my 8.5yo autistic daughter and am the primary caregiver for my elderly mom. I'm active in online support groups for caregivers and ones for parents of neurodivergent children.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Hobby - knitting\n\nMovie - Guardians of the Galaxy\n\nFun Fact - From 2006 - 2008 I was in the Peace Corps in Mauritania, West Africa and taught English as a foreign language in a small town's middle school.",
    "Picture File Name": "Sharon Robsky"
  },
  {
    "Group": "Group 5: Provost Office (Office Operations-Provost, Budget & IT- Provost, CPBL and GPS, Undergraduate Studies, Faculty Governance, and Graduate Studies)",
    "Name": "Amanda Keighley",
    "Contact Information": "maurer@wpi.edu",
    "Tenure (in Years)": 14.89589041,
    "Business Title": "Director, Marketing & Recruiting",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to be a voice for WPI staff and advocate on staff members behalf.  I would work to evaluate policies and develop plans to recognize and champion staff success.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I see the Staff Council as an instrumental part of the WPI community. It is an opportunity to elevate the voices and concerns of our community. I would like to partner with colleagues to understand staff concerns and continue to strengthen WPI and ensure that it is a place where all members can thrive and feel welcomed.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have been a member of the WPI community for 12 years where I have worked in Corporate and Professional Education and Graduate Studies. I was an active member of WPI's HR Advisory Group and the subcommittee that proposed and received approval for the Staff Trustee Award.  I'm always thinking of WPI staff and ways to recognize and celebrate successes.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Favorite Hobby:  Activity! You'll find me outside swimming, skiing, running or playing with my family and dog.",
    "Picture File Name": "Amanda Keighley"
  },
  {
    "Group": "Group 5: Provost Office (Office Operations-Provost, Budget & IT- Provost, CPBL and GPS, Undergraduate Studies, Faculty Governance, and Graduate Studies)",
    "Name": "Elizabeth Jacoby",
    "Contact Information": "erjacoby@wpi.edu",
    "Tenure (in Years)": 7.232876712,
    "Business Title": "Associate Director, Advising",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to represent the interests of staff members across the university and help ensure that we have a voice in high level decision-making. We are a critical element in the success of our students, alumni, and the university as a whole. I want to advocate for appropriate support and resources to do our jobs well, with emphasis on work-life balance and mental health.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Staff on campus are a highly dedicated group with diverse roles, backgrounds, interests, needs, etc. I have seen first hand the hard work put in by offices on campus and hope to identify more ways for this to be acknowledged/rewarded. I want to foster a positive working culture that allows individuals and teams to thrive in the workplace while leaving space for personal growth and development.",
    "What would you like people to know about you as a candidate for Staff Council?": "I've been at WPI for 7 years. As Associate Director of Academic Advising, I work directly with students daily and oversee the operations of a hard-working office of 12. I serve as WPI's Pre-Health Advisor. I collaborate with faculty and other offices on campus and have a strong understanding of our student body and the landscape of WPI. With this background, I feel well placed to represent staff.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I enjoy attending and performing in plays and musicals. I appreciate everything from splashy Broadway musicals to homegrown community theater productions! Some of my favorite shows are Les Mis, Company, and Wait Until Dark.",
    "Picture File Name": "Elizabeth Jacoby"
  },
  {
    "Group": "Group 5: Provost Office (Office Operations-Provost, Budget & IT- Provost, CPBL and GPS, Undergraduate Studies, Faculty Governance, and Graduate Studies)",
    "Name": "Julie Theriault",
    "Contact Information": "jtheriault@wpi.edu",
    "Tenure (in Years)": 3.073972603,
    "Business Title": "Operations Manager",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to serve as a Staff Council member to share open minded ideas and work as a team to come up with intelligent solutions to make our environment a better place.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Everyone should be able to be heard and be able to voice their opinion while remaining professional and positive. We should focus on the reasons why the turnaround is so high. Dig deep and make adjustments to change the trend.",
    "What would you like people to know about you as a candidate for Staff Council?": "I am honest, driven, and all about having a friendly approach. I listen and provide honest feedback.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Mountain Biking, SUP, Backpacking. Any outdoor activity makes me happy especially if I get to bring my dog along.\n\n\"Kind heart. Fierce Mind. Brace Spirit",
    "Picture File Name": "Julie Theriault"
  },
  {
    "Group": "Group 5: Provost Office (Office Operations-Provost, Budget & IT- Provost, CPBL and GPS, Undergraduate Studies, Faculty Governance, and Graduate Studies)",
    "Name": "Rory Flinn",
    "Contact Information": "rjflinn@wpi.edu",
    "Tenure (in Years)": 5.432876712,
    "Business Title": "Assistant Dean, Graduate Studies",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I will be a strong advocate for all staff at WPI while serving on the Staff Council. I aim to ensure we are part of the critical decision making and governance at WPI. I will push for the resources and people we need to carry out our jobs effectively, for us to be treated professionally and respectively, and for us to be recognized for our hard work in meaningful ways.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "The Staff Council should focus on: ensuring the WPI working environment is inclusive, respectful, and one in which staff are valued and recognized for our contributions to the institution; integrating staff perspectives and voices in critical WPI decision making, policy development, and governance; advocating for the resources and people needed to perform our jobs well.",
    "What would you like people to know about you as a candidate for Staff Council?": "I would be honored to serve on the staff council. I have spent much of my career advocating for overworked and underappreciated members of universities. I have experience addressing benefit inequities, developing policies and practices, and gathering and analyzing data from community members on their work environment and needs. I am also a parent and strive for a good life-work balance.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I love being out in nature hiking and birding.\n\"Only a life lived for others is a life worthwhile\" Albert Einstein",
    "Picture File Name": "Rory Flinn"
  },
  {
    "Group": "Group 5: Provost Office (Office Operations-Provost, Budget & IT- Provost, CPBL and GPS, Undergraduate Studies, Faculty Governance, and Graduate Studies)",
    "Name": "Sarah Miles",
    "Contact Information": "smiles@wpi.edu",
    "Tenure (in Years)": 8.38630137,
    "Business Title": "University Registrar",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to bring a strong voice to WPI on behalf of staff.  Staff members are a cornerstone of WPI and see a lot - we can provide valuable insights to WPI leadership and help shape an inclusive community here. I care about communication and would work to ensure the community is aware of the Council's activities and goals. I am passionate about the success of WPI and the whole community.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "As noted on the Staff Council website, the first thing we need to do is organize the group and how it will function. How can we have real impact on staff experiences? How do we measure whether we are an effective group? A good, clear charter is the first step to making this Council a valuable part of our community.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have worked at WPI for over 8 years, most of them as University Registrar. I have broad connections throughout the university and hope to leverage those connections to make this Council meaningful for staff. As a registrar and as an elected member of my town's planning board, I have experience working with policies and bylaws and hope this \ninsight will help form this inaugural council.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Um, hobby?  We have five kids, so...  Seriously though, I love to read and watch movies when I can, and if you've ever been to my office, you know I'm a huge Xena fan. I also love to travel - we just came back from a two week road trip with four of those five kids in tow!",
    "Picture File Name": "Sarah Miles"
  },
  {
    "Group": "Group 5: Provost Office (Office Operations-Provost, Budget & IT- Provost, CPBL and GPS, Undergraduate Studies, Faculty Governance, and Graduate Studies)",
    "Name": "Colleen Shaver",
    "Contact Information": "colleen@wpi.edu",
    "Tenure (in Years)": 14.04109589,
    "Business Title": "Director, Robotics Resource Center",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to be able to represent staff members in important matters with the university and help to ensure their voices are heard.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I think the staff council should help the staff have an equal voice to faculty in campus matters. I think they should focus on listening to staff concerns through protected forums so staff feel they can speak freely somewhere on campus about their concerns. I also think they should focus on retention and recruitment efforts.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have been an employee of WPI for 14 years and also have my masters and bachelors from WPI, so I'm familiar with the university and all the various challenges around campus. I have a unique voice in that respect. I also have a role that allows me to spend a lot of time with students to understand their concerns and how staff impacts students.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I love photography, dogs, and Jimmy Buffett.",
    "Picture File Name": "Colleen Shaver"
  },
  {
    "Group": "Group 6: Provost Office (Academic & Corporate Engagement, Innovation & Entrepreneurship, Research Division, Library Services, and Registrar)",
    "Name": "Camille Bouchard-Chhoeuk",
    "Contact Information": "cmbouchardchhoeu@wpi.edu",
    "Tenure (in Years)": 7.676712329,
    "Business Title": "Director of Operations",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "As a member of the Staff Council, I will foster an environment where all staff have balanced representation across the entire university. Utilizing experience, networking and passion, I will act as the voice of all staff, advocating for staff needs, seeking collaboration and staff inclusiveness in order to enhance the WPI community to create a positive working atmosphere & well being for all.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I believe a Staff Council member should focus on the needs of the community. To accomplish this, I will be a resource for staff inquiries & be their advocate to foster open, consistent, transparent communication & equal representation. This will instill strong core values & provide more opportunities to contribute to our strategic mission & to celebrate staff contributions as one cohesive team.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have managed the research operations and recruitment of non-faculty researchers within the Office of the Vice Provost for Research for 8 years & enjoy corresponding with all departments. I served on the TouchTomorrow local partners committee and currently serve on WPI's DEI committee. I have 2 children attending & recently earned my MS here as well, which gives me a unique perspective of WPI.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "My favorite hobbies include talking to people, laughing, volunteering at soup kitchens, and having fun exploring the ocean. A current show I enjoy watching is \"Stranger Things\", and my favorite quote (and was on my WPI graduation cap this Spring) is \"Make every moment count and create an impact every day!",
    "Picture File Name": "Camille Bouchard-Chhoeuk"
  },
  {
    "Group": "Group 6: Provost Office (Academic & Corporate Engagement, Innovation & Entrepreneurship, Research Division, Library Services, and Registrar)",
    "Name": "Catherine D. Bouthillier",
    "Contact Information": "cbouthillier@wpi.edu",
    "Tenure (in Years)": 2.747945205,
    "Business Title": "Senior Manager, Healthcare Corporate Partnerships",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "Ensure the voice of all levels of Staff are considered when determining policies, benefits and strategic plans.  I see my role as mediator, advocate and \"perspective\" gatherer between WPI Leadership and Staff.  I would ensure ALL levels of staff have an opportunity  to share their input on:  their needs, opportunities for change, challenges and views on pending changes= to help influence policies",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Staff Input & Provide Deadline Driven Action items\nWe need to hear from MORE Staff directly on their needs - the Council should leverage & be a consistent agenda item in existing departmental meetings/1:1 manager meetings to begin to gather direct input/provide updates - in the first month.  We can then prioritize our actionable items with timelines based on feedback.",
    "What would you like people to know about you as a candidate for Staff Council?": "Prior to coming to coming to WPI 3 yrs. ago, I was fortunate to work in the Recruitment/Retention/Employee Engagement/Satisfaction Field for 20+ years; seeing: inner \"workings\" of thousands of very diverse companies, interacting with marginalized teams &  those in executive leadership; creating unique, sustainable employee benefits/programs & learning from failed ones.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "My 2022 personal focus is trying to live by The Four Agreements by Don Miguel Ruiz - more challenging that it appears!  I am a single parent of 3 teenage boys, and spend quite of bit of my free time volunteering for Children's Advocacy Groups, Special Olympics and Refugee Resettlement. I have been told you can often hear me before you see me  :-) quite often saying \"ARE YOU KIDDING ME?!",
    "Picture File Name": "Catherine D. Bouthillier"
  },
  {
    "Group": "Group 6: Provost Office (Academic & Corporate Engagement, Innovation & Entrepreneurship, Research Division, Library Services, and Registrar)",
    "Name": "Diane Dubois",
    "Contact Information": "dbegreen@wpi.edu",
    "Tenure (in Years)": 11.78082192,
    "Business Title": "Operations Manager and Sustainability Coordinator",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "My hope is to be the voice of all staff members. I have been in a position that I needed to work a second job because I could not live on what I was making at WPI. I have seen extremely talented people leave WPI because they could make more elsewhere. I would like to make sure that WPI is transparent about the upcoming staff position classifications as well as the compensation analysis.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I believe the Staff Council should focus on benefits and compensation and how WPI demonstrates its appreciation for staff in other ways as well, such as, recognizing staff contributions to our campus.  Student success is our main mission, and a supported staff can support students better.",
    "What would you like people to know about you as a candidate for Staff Council?": "I love WPI. I started at WPI 15 years ago as a temporary employee. I have experienced being exempt and non-exempt. I am a great listener, but I can certainly speak up. I have a knack for getting things done. I do not shy away from difficult tasks. If I do not have a readily available solution, I will ask for help or advice from someone more knowledgeable about the task I am facing.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I love outdoor gardening.  Every year I add a little more to our yard.\nI loved the movie Goonies!  But I have to say my favorite movie is The Wizard of Oz.\nI don't have a favorite song; however, my favorite group of all time is The Eagles.\nFun Fact:  I won the Super Bowl in my fantasy football league!",
    "Picture File Name": "Diane Dubois"
  },
  {
    "Group": "Group 6: Provost Office (Academic & Corporate Engagement, Innovation & Entrepreneurship, Research Division, Library Services, and Registrar)",
    "Name": "Ellen Grant Piccioli",
    "Contact Information": "egpiccioli@wpi.edu",
    "Tenure (in Years)": 4.854794521,
    "Business Title": "Director of Mfg Innovation",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "<p>Work with Council to enhance WPI's culture:</p><ul><li><span style='text-decoration: underline;'>Represent and Advocate</span> for Staff as a critical & equitable part of WPI community.</li><li><span style='text-decoration: underline;'>Communication and Transparency</span>:  Seek staff input & share info to create Staff 'One Voice' and to determine preferred communication plan.</li><li><span style='text-decoration: underline;'>Career Paths</span>: Engage with stakeholders to develop/communicate options.</li><li><span style='text-decoration: underline;'>Benchmark Peers</span>: Identify strengths & improvement areas.</li></ul>",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "As summarized above, key focus areas include: representation & advocacy (in decisions, policies, well-being, college affairs, DEI, & all areas affecting Staff), communication & transparency, career path/development options and guidance, and engage Staff to get their inputs on this very question ' how can Staff Council best support them and enhance their experience as part of the WPI community.",
    "What would you like people to know about you as a candidate for Staff Council?": "<ul><li>A positive attitude and willingness to collaborate with colleagues and stakeholders as a Council member is key.</li><li>Having transitioned from industry to academia, I hope to bring a different perspective, as well as to learn and develop with the Council and community.</li><li>If not elected, as I'm sure there will be many fantastic candidates, I'll work to help them in any way possible.</li></ul>",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Some favorite quotes include: 'Seize the Day!' and 'Let's make it happen!'",
    "Picture File Name": "Ellen G Piccioli photo"
  },
  {
    "Group": "Group 6: Provost Office (Academic & Corporate Engagement, Innovation & Entrepreneurship, Research Division, Library Services, and Registrar)",
    "Name": "James Eakin",
    "Contact Information": "jeakin@wpi.edu",
    "Tenure (in Years)": 3.342465753,
    "Business Title": "Senior Technical Operations Manager-LEAP",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I think it is imperative to build and grow relationships to better understand and voice our collective and diverse needs. We are fortunate to be in unique roles that interface with students, faculty, and leadership but often find ourselves a little isolated. If elected, I would like to use this opportunity to work and learn from staff across campus to find ways to be an advocate for our community.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "In this inaugural year, I believe the emphasis should be listening to and building the community of staff to develop, empower and retain talent.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have been a part of the WPI community since 2019 supporting the day-to-day operations of the photonics facility at 50 Prescott St which is a collaboration between WPI and Quinsigamond Community College (LEAP@WPI/QCC). Prior to this role, I worked in industry for over decade ' both startup and large corporation environments in engineering and new product development.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "The list of hobbies keeps growing. It's hard to pick a favorite. The current list of hobbies include: bicycling (road, mountain, gravel), golf, racquetball, gardening, sourdough baking, fermenting foods and beverages, and riding and driving horses.",
    "Picture File Name": "James Eakin"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "Barbara Furhman",
    "Contact Information": "bfurhman@wpi.edu",
    "Tenure (in Years)": 25.39726027,
    "Business Title": "Administrative Assistant VI",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "To make positive changes that will impact everyone at WPI.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Communication.",
    "What would you like people to know about you as a candidate for Staff Council?": "Service to our students should be the focus and being available to them to meet their needs.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Marvel movies.",
    "Picture File Name": "Barbara Furhman"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "Beckley Schowalter",
    "Contact Information": "bwschowalter@wpi.edu",
    "Tenure (in Years)": 3.821917808,
    "Business Title": "Scholarship for Service Program Manager",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to facilitate any changes needed, in our campus operations, to improve the work life of all staff. I'd like to foster positive and collaborative energy on the Staff Council and ensure that our work is transparent and aligned with staff needs. I hope that our work will help staff members re-connect with the reasons why they love working at WPI.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Our initiatives will spring from the needs and concerns of staff members across campus. We should work for improvements such as fair compensation, fair workloads, and strengthened feelings of belonging and connection within our WPI community. \nWe should also focus on building a strong bridge between staff and the administration, creating a respectful and effective relationship.",
    "What would you like people to know about you as a candidate for Staff Council?": "Before I came to WPI, I facilitated hundreds of scholarship selection committees at Greater Worcester Community Foundation, guiding individuals of widely diverse backgrounds and opinions to consensus decisions. I enjoy finding common ground. I'm a people person who takes a calm and logical approach to problem solving. I respect all people and believe that each of us is doing the best we can.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Fun facts... I've hiked all 48 of the 4,000-foot mountains in NH. I've traveled in 49 U.S. states and 14 countries, and lived in large cities (Atlanta, San Francisco) and the countryside (rural Vermont). For 4 years, I worked as a nationally certified massage therapist. I have a dog named Rosie and a 14-pound longhaired cat named Alfonso. My perennial gardens are a never-ending work in progress.",
    "Picture File Name": "Beckley Schowalter"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "Kim Hollan",
    "Contact Information": "kshollan@wpi.edu",
    "Tenure (in Years)": 9.531506849,
    "Business Title": "Program Coordinator",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope the council is able to develop a positive sense of belonging to the University for all of our staff.  We should work to build a stronger community, a place where everyone feels heard, even more than that, a place where they feel valued.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "The council needs to really listen to the staff to get a full picture of what is needed to improve their experiences.",
    "What would you like people to know about you as a candidate for Staff Council?": "I have been at WPI for nearly 10 years.  I started in the Dean of Engineering office as an Administrative assistant for ~6.5 years, then I moved to a Program Coordinator for the ADVANCE grant and the Morgan Teaching and Learning Center for ~3 years, and I am now the new Director of Operations for the School of Engineering.  These experiences have given me a broader sense of campus programs.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Fun Fact:  I started my career as a USAF pilot.",
    "Picture File Name": "Kim Hollan"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "L Dana",
    "Contact Information": "ldana@wpi.edu",
    "Tenure (in Years)": 2.153424658,
    "Business Title": "Lab/Research II-Engineering",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "Clarify benefits and improve staff's ability to access them.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Compensation, staffing levels, clarifying promotion paths, and benefits packages.",
    "What would you like people to know about you as a candidate for Staff Council?": "30% of my job is administrative, 20% mechanical//research and 50% working with students and staff. The students and staff at WPI are a delight, and really what make this job interesting and rewarding.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "'Some humans would do anything to see if it was possible to do it. If you put a large switch in some cave somewhere, with a sign on it saying 'End-of-the-World Switch. PLEASE DO NOT TOUCH', the paint wouldn't even have time to dry.' (Thief of Time, Terry Pratchett)",
    "Picture File Name": "L Dana"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "Mary Courtemanche",
    "Contact Information": "mcourtemanche@wpi.edu",
    "Tenure (in Years)": 2.95890411,
    "Business Title": "Administrative Assistant V",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "As a member of the Staff Council, I would be prepared to speak up for my colleagues and the concerns that often arise. We staff are an integral part of curating this outstanding institution and we should all feel supported and appreciated. The ability of the Staff Council to collaborate with each other and listen to feedback is an important part of how we will make an impact",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "The staff council should focus on collaborating to foster a supportive and inclusive community. To be most successful in our work we need to feel respected and recognized.  One hopes that the council will provide a way to showcase that the work that every staff member puts in makes a difference.  No matter what a person's job is, we need each each other to reach our goal of being a cohesive team.",
    "What would you like people to know about you as a candidate for Staff Council?": "Volunteering has been part of my life for as long as I can remember. Many years were spent working with organizations with my three children.  They are growing up now and so I am making my way to find a new way to volunteer. I am currently volunteering with Days For Girls and have been a Town Meeting Member in Shrewsbury for ten years. I would like to get more involved at WPI too.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "People who know me know that I love being active and especially like to be outdoors in the woods or around water.  I love both New Hampshire and Cape Cod.  Even though I love to be active, I also love reading and we are lucky enough to have a Little Free Library in our yard.  It's been a fun way to see what people in my neighborhood are reading these days and share my love for reading.",
    "Picture File Name": "Mary Courtemanche"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "Pamela Paskalis",
    "Contact Information": "ppaskalis@wpi.edu",
    "Tenure (in Years)": 10.76438356,
    "Business Title": "Administrative Assistant VI",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "As a member of the Staff Council I hope to be someone the staff can feel comfortable coming to with their concerns.  I want to build trust with the staff that I will keep their comments and concerns in confidence if needed.  I want to build a collaborative experience on the council to be able build goals and bylaws that will be build upon with future council members to help make improvements.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Once settled the Staff Council should focus on the \"hot\" topics that are presented to them by the community.  The council needs be able to collaborate to help support staff success while working within the mission, values, and goals of WPI. Each member of the council should be a resource to help find information or answer questions from staff. Looking forward to the council to be a positive asset.",
    "What would you like people to know about you as a candidate for Staff Council?": "First I want to thank the member of the WPI campus who nominated me and feels that I am a plausible candidate to help support the staff members across our community. My approach on the Staff Council will be to listen to all sides of each discussion and take a stance that will be the betterment of the staff. I am hoping to diminish negative comments \nand to increase the positive ones by the staff.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "I love the summer and the beach is my favorite place to be.  \nThis spring I started playing pickleball and I am enjoying learning this sport and meeting new people.",
    "Picture File Name": "Pamela Paskkalis"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "Rebecca Evanoff",
    "Contact Information": "revanoff@wpi.edu",
    "Tenure (in Years)": 23.74794521,
    "Business Title": "Administrative Coordinator",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I'd like to be more proactive than reactive to implementations, covering details at all levels, providing clear communication and covering processes that are different between business admins and academic admins. We all need to have a voice in decisions so we can do our jobs.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Big picture impacts of top down decisions  Clear communication and access to all information is extremely valuable, For instance, did you know that the physical fax numbers no longer work? I didn't until I put in a ticket. I'd like to be able to address this type of information and I think that I can do that on the council.",
    "What would you like people to know about you as a candidate for Staff Council?": "I've been at WPI for more than 10 years and I'd like to combine my disaster training and planning skills to strengthen the WPI community. When working on a plan all the stake holders are involved from the bus drivers & day care workers to the Town/State Officials and I believe that is what is needed at WPI; for the Staff to be at that planning table from the beginning.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Some of you know I have a hidden artistic streak, I enjoy papercrafts (cards, art journals, junk journals, scrapbooks etc) and explore different techniques and ideas, attending virtual summer craft camp. I also enjoy bringing Finn around to ease some of the stresses here at WPI. Something important is sharing kindness through little things, like saying thank you, and smiling at people.",
    "Picture File Name": "Rebecca Evanoff"
  },
  {
    "Group": "Group 7: Provost Office (Global School, School of Arts & Sciences, School Of Business, and School of Engineering)",
    "Name": "Rhonda Podell",
    "Contact Information": "rpodell@wpi.edu",
    "Tenure (in Years)": 14.08219178,
    "Business Title": "Assistant Director of Operations & Director, Math Tutoring Center",
    "Division": "Provost Office",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to be an advocate for the staff that don't have any other voice at WPI. Many staff colleagues and I informally discuss ways in which we think processes, morale, and communication would be improved at WPI. I believe I would be a beneficial member of this committee by both listening to issues and bringing ideas and solutions to the committee.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I think that effective and transparent communication should be the modus operandi here at WPI, with input from all stakeholders.  Many times decisions are communicated well after rumors and inside knowledge have been well formed. I also think that staff salaries and schedules should be more equitable.",
    "What would you like people to know about you as a candidate for Staff Council?": "I would like people to know, if they don't already, that I am a dedicated, hard-working professional. I do my job for the good of WPI ' and especially the students who attend WPI.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Efforts and courage are not enough without purpose and direction.\" JFK\nHobby- any adventures with my dog Gracie",
    "Picture File Name": "Rhonda Podell"
  },
  {
    "Group": "Group 8: Student Affairs",
    "Name": "Amy Curran",
    "Contact Information": "acurran@wpi.edu",
    "Tenure (in Years)": 2.824657534,
    "Business Title": "Director, Accessibility Services",
    "Division": "Student Affairs Division",
    "What do you hope to achieve as a member of the Staff Council?": "My hope is to be elected, as the representative for the Student Affairs Division, so that I may increase my investment in the WPI community.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "I believe that the focus should first start on building equity for the WPI staff so that we may collectively feel supported and included.  WPI staff members are the support network for every facet of campus: the students, faculty, and each other.  I would like to see the Staff Council take an active role in pursuing positive and inclusive change for staff members.",
    "What would you like people to know about you as a candidate for Staff Council?": "I've worked at WPI for 3 years, as the Director of the Office of Accessibility Services, and have continuously been an active member of several committees.  I have fostered relationships with many colleagues on campus and I value the rapport that we have built.  I believe in the WPI community and would love to be part of the positive change that the Staff Council will bring.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Tell me, what is it you plan to do with your one wild and precious life? ~ Mary Oliver",
    "Picture File Name": "Amy Curran"
  },
  {
    "Group": "Group 8: Student Affairs",
    "Name": "Chris Robertson",
    "Contact Information": "crobertson@wpi.edu",
    "Tenure (in Years)": 23.30136986,
    "Business Title": "Head Coach - Football",
    "Division": "Student Affairs Division",
    "What do you hope to achieve as a member of the Staff Council?": "As a member of this community who first starting working here in 1999, I have the unique perspective of seeing a lot of things happen over the last 23 years.  I am excited and thrilled to be a voice for so many wonderful and caring community members that I have come to know over the years.  There is so much potential here and it starts with people and relationship building and valuing their voices",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "Listen to and address the issues and needs of staff here at WPI. Most importantly, take real action when needed.  We have spent a lot of time talking about what we want WPI to be, and now is the time that we need to put words into action to make our community better and stronger moving forward.  Bring people together, give them a voice, take action on their needs to thrive here.",
    "What would you like people to know about you as a candidate for Staff Council?": "First and foremost, I care deeply about WPI and about the people here.  The relationships I have built over the years are paramount to my personal experience here and I feel confident in my ability to represent a lot of truly great people here.  I interact on a regular basis with people from all areas of our campus and I take great pride in every task I embrace here on our campus.",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Outside of work, I most enjoy time with my family and chasing my three children from one event to the next.  I am dog enthusiast as well.  I enjoy working out and love beach time with my family.  I listen mostly to classic rock as my playlist could attest to.  Favorite things to watch on TV include any college football, episodes of Dateline, and anything UFO/alien related.",
    "Picture File Name": "Chris Robertson"
  },
  {
    "Group": "Group 8: Student Affairs",
    "Name": "Sue Levine",
    "Contact Information": "slevine@wpi.edu",
    "Tenure (in Years)": 0.676712329,
    "Business Title": "Assistant Director, Career Education Resources and Graduate Students",
    "Division": "Student Affairs Division",
    "What do you hope to achieve as a member of the Staff Council?": "I hope to represent staff interests & concerns as we collectively work towards positive & measurable change. Through collaboration across various divisions & departments I hope to understand the diversity of experience & make recommendations. I'm interested in ways to ensure transparent communication, create or improve programs & resources, and be a liaison between staff & administration.",
    "What do you believe the Staff Council should focus on to support the staff experience and voice at WPI?": "In no particular order: 1) Employee policies & benefits; 2) Recruitment, retention & increasing workplace diversity (incl. competitive salaries & compensation equity; 3) Diversity, equity, access, inclusion, and belonging: (creating a work environment of authentic belonging ) 4) Mental health, well being & recognition (propose & implement ideas that will have a positive impact on staff culture).",
    "What would you like people to know about you as a candidate for Staff Council?": "I would be honored to represent WPI staff & look forward to the possibility of being a resource & advocate for your interests, questions, or concerns. Others would describe me as someone easy to work with, collaborative, dedicated, detailed-oriented, & creative. I am also the proud parent of two WPI students. More about me: www.linkedin.com/in/suemlevine",
    "What is your favorite hobby, movie, song, fun fact, and/or quote?": "Favorite quote: 'Alone we can do so little. Together we can do so much' --Helen Keller",
    "Picture File Name": "Sue Levine"
  }
]