
<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Orientation</a>
      <div class="accordion-content" data-tab-content>
          <h3>International Student Pre-Orientation (For International Students Only) </h3>
          <ul><li>Friday, August 19 from 8:30 AM to 4 PM in Atwater Kent Room 116</li></ul>
          <h3>New Graduate Student Orientation (For All Incoming Graduate Students)</h3>
          <ul>
              <li>Monday, August 22 from 8 AM - 1:30 PM in Rubin Campus Center</li>
              <li>Light breakfast 8-8:30 AM </li>
              <li>Orientation Program from 8:30-11:45 AM</li>
              <li>WPI Bridge Crossing Induction Ceremony 11:45 AM-12:15 PM</li>
              <li><a href="#" data-open="lunchBuffetModal">Lunch</a> and Resource Fair 12-1:30 PM</li>
              <li>Optional campus tours from 1:30-2 PM</li>
          </ul>
          <h3>TA Orientation (For Teaching Assistants Only):</h3>
          <ul>
              <li>Monday, August 22 from 3-5 PM in Gordon Room at First Baptist Church, 111 Park Ave</li>
              <li>Tuesday, August 23 from 9 AM - 3:30 PM in Gordon Room at First Baptist Church, 111 Park Ave</li>
              <li><a href="https://wpi.qualtrics.com/jfe/form/SV_eMcx4cybIIGdP8O" target="_blank">Registration</a> for TA orientation required</li>
          </ul>
          <h3>Graduate Student Welcome/Welcome Back BBQ (All welcome)</h3>
          <ul><li>August 26, 6-7:30 PM Higgins Lower Lawn</li></ul>
          <h3>PhD Student Orientation (For New PhD Students Only)</h3>
          <ul>
              <li>Tuesday, August 30 from 10-11:30 AM in Gateway I (60 Prescott Street) Room 1002.</li>
              <li>Light breakfast provided</li>
          </ul>
          
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Information Technology</a>
      <div class="accordion-content" data-tab-content>
          <h3>Need to <a href="https://hub.wpi.edu/article/9/first-time-login" target="_blank">Set up WPI accounts and email</a></h3>
          <h3>Need to use <a href="https://hub.wpi.edu/s/5/workday" target="_blank">Workday</a> for many University processes </h3>
          <h3><a href="https://hub.wpi.edu/article/779/workday-student-register" target="_blank">Register</a> for your courses in Workday.</h3>
          <ul>
              <li>Open your Chrome Browser, type in <a href="https://hub.wpi.edu" target="_blank">www.hub.wpi.edu</a></li>
              <li>Use your WPI Credentials to Log into Workday Student. </li>
              <li>Once in Workday Student, click on Action Items and Holds. </li>
              <li>Update all necessary information as requested by WPI.</li>
          </ul>
          <h3>Familiarize yourself with <a href="https://canvas.wpi.edu/" target="_blank">Canvas</a>, the platform used for most courses and course materials</h3>
          <ul><li>Review the <a href="https://community.canvaslms.com/t5/Student-Guide/tkb-p/student" target="_blank">guide to using Canvas</a> if want to learn more</li></ul>
          <h3>Complete required online training modules 'Kognito' and 'Get Inclusive'</h3>
          <ul>
              <li>Kognito (45 minutes, focused on mental health and wellbeing)</li>
              <li>Get Inclusive Modules 'Consent' and 'Inclusion'</li>
              <li>Both are available on the Grad Student Orientation Hub site</li>
          </ul>
          
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Finances</a>
      <div class="accordion-content" data-tab-content>
        <h3>Establish a <a href="https://www.wpi.edu/sites/default/files/inline-image/Body of International Student Handbook 2022-2023.pdf" target="_blank">bank account</a> (page 32-34) (for International Students)</h3>
        <h3>Provide <a href="https://hub.wpi.edu/article/540/view-payslip-payment-and-tax-elections" target="_blank">bank account</a> info in Workday for direct deposit (if funded graduate student)   </h3>
        <ul>
            <li>Change your bank account information for direct deposit and reimbursement. </li>
            <li>Open the Pay worklet. Under Actions, click Payment Elections. </li>
            <li>Under Accounts click the Add button to add a new account. Click the Edit button to change account information or click the Remove button to delete an account .</li> 
            <li>Create an Account Nickname for easy identification, and complete required (*) fields.  </li>
            <li>Contact your bank if you have any questions on which information to use. </li>
            <li>Click OK.</li>
        </ul>
        <h3>Funded Graduate Student (RA, TA, Fellows) Pay and Expectations  </h3>
        <ul>
            <li>Be in communication with your department/sponsoring faculty member about when you will arrive, so you can be paid in a timely and accurate manner</li>
            <li>TAs must attend TA Orientation on August 22, 2022 and be available for TA work from the first day of classes on August 24, 2022  </li>
            <li>RAs and TAs that begin work between August 7th-20th will get their first paycheck on August 26th</li>
            <li>RAs and TAs that begin work between August 21st-September 3rd will get their first paycheck on September 9th </li>
            <li>Anticipate your stipend payments via the <a href="https://www.wpi.edu/sites/default/files/docs/Offices/Talent-Inclusion/2022-Biweekly-Payroll-Calendar.pdf" target="_blank">Biweekly Payroll Calendar</a>. </li>
            <li>Fellows are paid monthly via <a href="https://www.wpi.edu/offices/accounts-payable" target="_blank">Accounts Payable</a></li>
            <li>Questions about RA or TA appointments can be directed to your <a href="/img/docs/GraduateDeptContactInfo-08-03-2022.pdf" target="_blank">department/program administrators</a></li>
            <li>Questions concerning a fellowship appointment can be directed to <a href="mailto:Graduatestudies@wpi.edu" target="_blank">Graduatestudies@wpi.edu</a> </li>
        </ul>
        <h3>Student Loans</h3>
        <ul><li>Questions about <a href="https://www.wpi.edu/admissions/tuition-aid/applying-for-aid/graduate-students" target="_blank">students loans</a> can be directed to <a href="mailto:finaid@wpi.edu" target="_blank">finaid@wpi.edu</a></li></ul>
        <h3>Additional tips and advice on graduate student finances, including seeking on-campus employment, can be found in the <a href="https://canvas.wpi.edu/courses/26611" target="_blank">Graduate Connections</a> 'Student Finance' Session on Canvas</h3>

      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Health</a>
      <div class="accordion-content" data-tab-content>
        <h3>All graduate students enrolled in on-campus classes and/or conducting research in on-campus labs, whether they live on campus or off, are required to be fully vaccinated against COVID-19. </h3>
        <h3>Before your arrival, you must show proof of having "up to date" COVID vaccinations, with “up to date” being defined as a COVID vaccine series plus a booster. All students must have <a href="https://wpi.medicatconnect.com/" target="_blank">entered their vaccination information into the Student Health Portal</a>. </h3>
        <h3>As with our other vaccination requirements, there is a process for students to submit a request for medical or religious exemption via the <a href="https://www.wpi.edu/we-are-wpi/health-and-safety/vaccine-information#:~:text=Student%20Vaccination%20Exemption%20form" target="_blank">Student Vaccination Exemption form.</a> </h3>
        <h3>International Students</h3>
        <ul><li>International students are required to get one of the 10 WHO-approved vaccines. All international students with a completed series of a WHO-approved vaccines are advised to get a Pfizer booster shot per the CDC and that is our requirement. If you do not have access to a Pfizer booster, please contact <a href="mailto:healthcenter@wpi.edu?subject=International%20Students:%20Vaccination%20Help" target="_blank">Student Health Services</a>. For non-resident travelers into the US, please see the <a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/proof-of-vaccination.html#covid-vaccines" target="_blank">CDC guidance</a> on travel into the US and vaccine requirements.</li></ul>
        <h3>Students who do not comply with vaccine requirements will face course registration holds</h3>
        <h3>All on-campus students must have health insurance and will automatically be enrolled in <a href="https://www.wpi.edu/student-experience/health-counseling/health-services/insurance" target="_blank">WPI's student health insurance</a> plan</h3>
        <ul>
            <li>Students may waive coverage under WPI's provided they have alternative coverage</li>
            <ul>
                <li>Waive coverage: <a href="https://studentcenter.uhcsr.com/school-page" target="_blank">https://studentcenter.uhcsr.com/school-page</a></li>
                <li>The deadline for submission is August 18, 2022</li>
                <li>Waivers must be completed annually </li>
            </ul>
            <li>The annual WPI Student Health Insurance premium for 2022-2023 costs $2,194 and will be added directly to your bill</li>
            <li>RAs, TAs, and Fellows have individual health insurance plans covered via their funding awards and should not pay for the health insurance, unless adding dependents</li>
            <ul>
                <li>Ensure you are registered for course credits in the Fall, then contact the Bursar Office to ensure they make you eligible to enroll or waive insurance</li>
                <li>If you enroll in student health insurance plan and get billed, please contact your department to see if your funded position was processed. If department believes appointment has been processed, please contact Caroline Teves (RAs, TAs, NRT Trainees) or Deborah Baron (Fellows). </li>
            </ul>
        </ul>
        <h3>WPI Health Services supplemental provider option </h3> 
        <ul>
            <li>Graduate students are not required to pay the WPI 'health and wellness' fee since many use outside medical providers of their own choosing.</li>
            <li>If you are a graduate student and wish to be seen at WPI Student Health Services for medical care of acute illness or injury, please call the WPI Bursar's Office and request to pay the Health and Wellness Fee, of $290/semester or $580 annually, or you can complete this <a href="https://fs28.formsite.com/webteamwpiedu/grad-health-wellness-fee/index.html" target="_blank">online form</a>. </li>
            <li>After paying the health fee you can then call WPI Student Health Services to schedule an appointment for an evaluation.</li>
        </ul>
        <h3>SDCC and Center for Well Being</h3>
        <ul>
            <li>WPI's <a href="https://www.wpi.edu/student-experience/health-wellness/center-for-well-being" target="_blank">Center for Well-Being (CWB)</a> is a hub for cross-functional campus efforts aimed at improving student, community, and campus well-being through evidence-based practices, coordinated initiatives, the support of student and faculty research, and strategic visioning. The CWB is a supportive and safe space to gather, relax, reflect, and recharge. </li>
            <li>The <a href="https://www.wpi.edu/offices/student-development-counseling-center" target="_blank">Student Development & Counseling Center (SDCC)</a> provides free and confidential counseling, guidance, and support––or just someone to talk to––24/7. From individual and group counseling to crisis intervention to proactive prevention, education, and outreach programs, our team is dedicated to supporting the personal, social, and academic success and well-being of students. Consultation and referral services are also available to the WPI community.</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Housing and Relocating to Worcester area</a>
      <div class="accordion-content" data-tab-content>
        <h3>WPI has limited <a href="https://www.wpi.edu/student-experience/housing-dining/living-on-campus/graduate-students" target="_blank">Graduate student housing</a> available to new Graduate Students for August – May and is composed of homes conveniently located in the neighborhood surrounding the WPI campus. Questions about WPI managed graduate housing can be directed to: <a href="mailto:graduatehousing@wpi.edu" target="_blank">graduatehousing@wpi.edu</a></h3>
        <h3>Students may begin searching for <a href="https://www.wpi.edu/student-experience/housing-dining/living-off-campus" target="_blank">off-campus housing</a> at any time</h3>
        <h3>WPI Graduate Studies has compiled a list of <a href="https://www.wpi.edu/sites/default/files/docs/Academic-Resources/Graduate-Studies/Apartment Complexes near WPI.pdf" target="_blank">local apartment buildings</a>, but please note that there are many apartments in local houses also for rent as well. </h3>
        <h3>Many WPI students use the '<a href="https://www.facebook.com/groups/261405590693520/" target="_blank">Homeless at WPI</a>' Facebook group to find rooms in apartments and roommates</h3>
        <h3>Understand the <a href="https://www.wpi.edu/sites/default/files/docs/Student-Experiences/Housing-Dining/_Utilities_NEW.pdf" target="_blank">local utility</a> options and <a href="https://www.inmyarea.com/" target="_blank">providers</a></h3>
        <h3>Learn about <a href="https://www.wpi.edu/about/worcester" target="_blank">Worcester</a> and <a href="https://www.wpi.edu/about/worcester/visiting" target="_blank">how to travel to/from Worcester and getting around the area</a></h3>
        <h3>There are two grocery stores that are walkable from the WPI Campus:</h3>
        <ul>
            <li><a href="https://www.pricechopper.com/stores/ma/worcester/price-chopper-148.html" target="_blank">Price Chopper Supermarket</a>, 221 Park Ave. (5 minute walk from campus)</li>
            <li><a href="https://local.shaws.com/ma/worcester/14-w-boylston-st.html" target="_blank">Shaws</a>, 14 West Boylston Street (10 minute walk from campus)</li>
        </ul>
        <h3>You can learn about other grocery stores, including ones that focus on particular ethnic foods, and other resources in the area through the recordings and presentation slides from the first two <a href="https://canvas.wpi.edu/courses/26611" target="_blank">Grad Connections</a> session run this summer</h3>
        <h3>You can go on the WPI organized shopping trip on August 16 from 2-5:30 PM to purchase household supplies. Buses leaving hourly from the circle by the Bartlett Center, dropping off at Walmart and the Shoppes at Blackstone Valley. Hop on/hop off, make sure to get back to campus before the last circuit at 5:30pm, and look for the buses with the “WPI BUS” sign in the front windows.</h3>

      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Academics</a>
      <div class="accordion-content" data-tab-content>
        <h3>Submit your final and official transcripts to Graduate Admissions</h3>
        <ul>
            <li>You can bring your transcript(s) to graduate orientation on August 22 and provide to Graduate Admissions Staff at the Resource Fair from 12-1:30 PM</li>
            <li>You can also drop off your transcript(s) from 9 AM - 5 PM at Graduate Studies Office at Gateway Park I (60 Prescott Street) Suite 200</li>
        </ul>
        <h3>Academic Advisors are assigned by each department/program. Advisors provide supplemental support to students to help them create academic plans and reach their goals. You can <a href="/img/docs/GraduateDeptContactInfo-08-03-2022.pdf" target="_blank">contact your department/program</a> to inquire about your advisor.</h3>
        <ul>
            <li>Depending on your program, a Plan of Study (POS) may be required.  Connect with your Student Success Manager (SSM) or Academic Advisor to see if your program requires a POS</li>
            <li>Student Success Managers (SSMs) support students in a complementary capacity to departmental Academic Advising provided by faculty</li>
            <li>Students should connect with their SSM for quick questions, referrals to campus resources/offices, and for help problem solving when obstacles arise to degree completion </li>
            <li>Masters students: your <a href="https://www.wpi.edu/academics/graduate/student-success-manager" target="_blank">assigned SSM</> varies depending on your department/program</li>
            <li>1st Year PhD students: your assigned SSM is <a href="mailto:bgriffiths@wpi.edu" target="_blank">Brendan Griffiths</a> </li>
            <ul><li>You may also connect with Brendan for Academic Coaching to develop your scholarly skills and identity (similar to working with a mentor)</li></ul>
        </ul>
        <h3>Please <a href="https://hub.wpi.edu/article/779/workday-student-register" target="_blank">register for courses</a> to ensure you secure a spot in the courses you plan to take in the Fall</h3>
        <h3>Please <a href="https://fs28.formsite.com/webteamwpiedu/grad-project-reg/index.html" target="_blank">register for research or independent study credits</a>, if applicable. Please note that if you are pursuing a masters degree with a thesis or a PhD degree, you will need to complete research credits as part of your plan of study</h3>

      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Community</a>
      <div class="accordion-content" data-tab-content>
        <h3>Attend orientation on August 22, the Grad Connections Meet and Greet on  August 26 from 5-6 PM, and the Grad Student Welcome/Welcome Back BBQ on August 26 to meet some of your peers and begin making some lasting friendships</h3>
        <h3>Find <a href="https://wpi.campuslabs.com/engage/" target="_blank">clubs, organizations, events</a>, and affinity groups to join </h3>
        <h3>Look for emails from the <a href="https://wpi.campuslabs.com/engage/organization/graduate-student-government" target="_blank">Graduate Student Government (GSG)</a> on outings, events, and social gatherings they organize throughout the year. These are great ways to make friends and experience activities off-campus </h3>
      </div>
    </li>
  
  </ul>