<div class="reveal" id="modal-preview" data-reveal>
  <h4>Preview Link</h4>
  <label for='preview-link'>Preview Link</label>
  <div class='input-group'>
    <input type='text' value='' id='preview-link' name='preview-link' class='input-group-field copy-text' readonly>
    <button id='button-preview-link' class='input-group-button copy-button'><i class='far fa-copy'></i></button>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true"><i class='fas fa-times'></i></span>
  </button>
</div>