<div class="box icon-links">
  <div class="grid-x grid-margin-x align-justify text-center">
    <div class="cell small-6">
      <a id="button-print" href="#" aria-label="Print"><i class="far fa-2x fa-print"></i></a>
    </div>
    <div class="cell small-6">
      <a id="button-share" href="#" aria-label="Share"><i class="far fa-2x fa-share"></i></a>
    </div>
  </div>
</div>

<div class="reveal" id="modal-share" data-reveal>
  <h4>Share Link</h4>
  <label for='share-link'>Share Link</label>
  <div class='input-group'>
    <input type='text' value='' id='share-link' name='share-link' class='input-group-field copy-text' readonly>
    <button id='button-share-link' class='input-group-button copy-button' aria-label="Copy Link"><i class='far fa-copy'></i></button>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true"><i class='fas fa-times'></i></span>
  </button>
</div>