<a id="button-request-help" href="/Request">
  <div class="box card helpMe">
    <div class="grid-x grid-margin-x align-justify">
        <div class="cell small-2 text-right">
          <i class="fas fa-question-circle fa-2x"></i> 
        </div>
        <div class="cell small-10">
          <h2>Request Help!</h2>
        </div>
    </div>
  </div>
</a>